.hp-card {
    margin: 20px;
}

.hp-card:hover {
    background-color: #bcc9d1;
    border-radius: 25px;
}

.hp-card-image {
    border-radius: 10px;
    width: 420px;
    height: 480px;
    box-shadow: 0px 0px 3px 1px black;
}

.hp-card-info {
    margin-top: 10px;
    min-height: 100px;
    text-align: center;
}

.hp-card-title {
    font-size: 27px;
    margin: 0px;
}

.hp-card-subtitle {
    font-size: 18px;
    margin: 0px;
}

.success-msg {
    color: #57a773;
    padding: 10px 15px;
}

.err-msg {
    color: #ee6352;
    padding: 10px 15px;
}

.top-left-name {
    font-weight: bold;
}

.mt-5 {
    background-color: #282d30;
    color: #fff;
}

.about {
    margin: 4.3%;
}

.contact {
    margin: 5.8%;
}

.border-bottom {
    margin: 1%;
}